* {
    font-family: 'Roboto', sans-serif;
}

#map-chart {
    height: 450px;
}

#map-chart svg {
    width: 400%;
    height: 100%;
    margin: auto;
}

#map-chart svg {
    margin: auto;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}


.header {
    width: 600px;
    margin: auto;
    text-align: center;
}

.wrapper {
    width: 1600px;
    margin: auto;
}

.innerWrapper {
    width: 900px;
    display: inline-block;
    float: left;
}