/*class styling*/

.header {
    margin: auto;
    text-align: center;
}

.outerWrapper {
    background-color: #c39f9d;
    width: 1600px;
    height: 900px;
    margin: auto;
}

.innerWrapper {
    background-color: #96abc3;
    width: 70%;
    height: 100%;
    float: left;
    margin: auto;
}

.trendChartWrapper {
    background-color: #c3bb93;
    width: 30%;
    height: 100%;
    float: left;
}

.worldMap {
    background-color: #9bc3af;
    width: 95%;
    height: 75%;
    margin: 2.5%;
}

.worldMap svg{
    width: 100%;
    height: 100%;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .8px;
}

.countries {
    fill: #737373;
}
.timeLine {
    background-color: #acc397;
    width: 95%;
    height: 15%;
    margin: 2.5%;
}

.LineChart {
    background-color: #c39fa0;
    width: 95%;
    height: 45%;
    margin: 2.5%;
}

.BarChart {
    background-color: #bda2c3;
    width: 95%;
    height: 45%;
    margin: 2.5%;
}

/* slider styling */

.slider {
    -webkit-appearance: none;
    width: 725px;
    height: 15px;
    border-radius: 5px;
    background: #5145bf;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px;
	margin-top: 60px
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #9b0000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 750px;
    height: 35px;
	color:#9B0000;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    float: left;
    width: 750px;
    margin-left: 50px;
}

.activeYear-background {
    font-size: 110px;
    opacity: 1;
	color:#9B0000;
}

/*tooltip style*/
h2{
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}
.d3-tip {
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
	border: 2px solid #00181D;
    padding: 12px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 15px;
    width: 100%;
    line-height: 2;
    color: rgba(0, 0, 0, 0.8);
    /* content: "\25BC"; */
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    /* content: "\25BC"; */
    margin: -4px 0 0 0;
    top: 100%;
    left: 0;
    /* text-align: center; */
}

/* Eastward tooltips */
.d3-tip.e:after { 
    /* content: "\26A0"; */
    margin: -4px 0 0 0;
    top: -800px;
    left: -8px;
} 

/* Southward tooltips */
.d3-tip.s:after {
    /* content: "\25B2"; */
    margin: 4px 0 1px 0;
    top: -8px;
    left: 1481px;
    text-align: center;
} 

/* Westward tooltips */
.d3-tip.w:after {
    /* content: "\25B6"; */
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
} 
